@model Memberships.Areas.Admin.Models.SmallButtonModel
@using Memberships.Areas.Admin.Models

<div class="btn-group" role="group" aria-label="@Guid.NewGuid()">
    @Html.Partial("_SmallButtonPartial", new SmallButtonModel
    {
        Action = "Edit",
        ButtonType = "btn-warning",
        Glyph = "pencil",
        Text = null,
        Id = Model.Id,
        ItemId = Model.ItemId,
        ProductId = Model.ProductId,
        SubscriptionId = Model.SubscriptionId
    })
    @Html.Partial("_SmallButtonPartial", new SmallButtonModel
    {
        Action = "Details",
        ButtonType = "btn-success",
        Glyph = "list",
        Text = null,
        Id = Model.Id,
        ItemId = Model.ItemId,
        ProductId = Model.ProductId,
        SubscriptionId = Model.SubscriptionId
    })
    @Html.Partial("_SmallButtonPartial", new SmallButtonModel
    {
        Action = "Delete",
        ButtonType = "btn-danger",
        Glyph = "trash",
        Text = null,
        Id = Model.Id,
        ItemId = Model.ItemId,
        ProductId = Model.ProductId,
        SubscriptionId = Model.SubscriptionId
    })
</div>
